/* ------------------------------------------------------------header/nav------------------------------------------------------------------------------------------------------ */
.header{
    position: fixed;
    top:0;
    left:0;
}
.name{
    width : 10em;
    padding-left: 1em;
    padding-bottom: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav{
    display: inline-block;
    margin: 0 ;
    padding: 0;  
    padding-left:2px; 
}
.nav ul{
    margin: 0 ;
    padding: 0;
    list-style-type: none;
    padding-left:1em;
    padding-right: 1em;
}
.nav a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.inactive-link p{
    color: black;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}
.link-B {
    margin :0;
    padding-bottom: 0px;    
}
.link-B p{
    font-size: 80%;
}
.active-link p{
    color : #686868;
}
.active-link p:hover{
    font-size: 110%;
}
.content-wrapper{
    height: 100vh;
}
/* ------------------------------------------------------------footer------------------------------------------------------------------------------------------------------ */
.footer{
 padding-left : 2.2em;
 padding-top: 1em;
 padding-bottom: 1em;
 background-color: #686868;
}
.email img{
    float : left;
    padding-top: 0.2em;
}
.email p{
    padding-left: 2em;
    color: whitesmoke;
    font-family: monospace;
}
.media-links{
    width : 40%;
}
.media-links img{
    padding-right: 2em;
}
.studio{
    float : right;
}
.studio img{
    padding-top: 15px;
    float : left;
}
.studio p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: white;
    padding-left: 0.6em;
    padding-right: 2em;
    float : right;
}
/* ------------------------------------------------------------columns------------------------------------------------------------------------------------------------------ */
.content-wrapper{
    padding-top: 100px;
}
.col-1-of-1{
    height:40vh;
    padding-left:20em;
    /* padding-bottom: 2em; */
}
.col-1-of-2{
    float: left;
    height:100%;
    width:40%;
    margin-left: 4em;
}
/* ------------------------------------------------------------about-page------------------------------------------------------------------------------------------------------ */
.center-div{
    position: fixed;
    top: 30%;
    left:40%;
    height:100%;
    text-align: center;
}
#about-page img{
    float:left; 
    padding-left: 2em;
    padding-right: 0.25em;
}
#about-page p{
    text-align: left;
    font-family: monospace;
    padding-bottom: 2em;
}
#about-info{
    font-size: larger;
}
.tumblr-link{
    padding-right: 20em;
    text-align: right;
}

/* ------------------------------------------------------------mobile-stuff------------------------------------------------------------------------------------------------------ */
