* {
    margin: 0;
    padding: 0;
    }
/* ------------------------------------------------------------menu/nav------------------------------------------------------------------------------------------------------ */
.mobile-menu{
/* mobile menu that is only visible on small screens */
    display: none;
    position: absolute;
    background-color: #000;
    top:0;
    left:0;
    width: 100%;
}
.title{
/* the container for my name in mobile menu */
    padding-left: 10px;
    padding-top: 5px;
}
.title h3{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}
.header{
/* the header/menu that is visible on bigger screens */
    position: fixed;
    top:0;
    left:0;
}
.name{
/* the name that is visible in the header */
    width : 10em;
    padding-left: 1em;
    padding-bottom: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.name-link{
/* link attached to the name in the header */
    /* position: absolute; */
    display: block;
    margin: 0;
    padding: 0;
}
.nav{
/* the navigation menu in the header */
    display: inline-block;
    margin: 0 ;
    padding: 0;  
    padding-left:2px; 
}
.nav ul{
/* the unordered list for the header menu */
    margin: 0 ;
    padding: 0;
    list-style-type: none;
    padding-left:1em;
    padding-right: 1em;
}
.nav-list{
/* each list item in the header menu */
    padding-bottom: 1em ;
}
.nav a{
/* each link item attached to a list tag in the header */
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.inactive-link p{
/* inactive links in the header menu */
    color: black;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}
.active-link p{
/* active links in the header menu */
    color : #686868;
}
.active-link p:hover{
    font-size: 110%;
}
/* ------------------------------------------------------------footer------------------------------------------------------------------------------------------------------ */
.footer{
    position: relative;
    padding-left : 2.2em;
    padding-top: 1.5em;
    padding-bottom: 1em;
    /* background-color: #686868; */
    background-color:#000;
}
.footer-email{
    width : 40%;
    padding-bottom: 1em;
}
.footer-email img{
    float : left;
    padding-top: 0.15em;
    padding-right: 0.5em;
}
.footer-email p{
    padding-left: 2em;
    color: whitesmoke;
    font-family: monospace;
}
.footer-media-links{
    width : 40%;  
}
.footer-vimeo-link{
    float: left;
    padding-right: 2em;
}
.footer-yt-link{
    padding-top: 0.15em;
}
.footer-studio{
    float : right;
    padding-top: 0.5em;
}
.footer-studio img{
    float : left;
}
.footer-studio p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    color: white;
    padding-top: 0.4em;
    padding-left: 0.6em;
    padding-right: 2em;
    float : right;
}
/* ------------------------------------------------------------columns------------------------------------------------------------------------------------------------------ */
.content-wrapper{
/* the div containing content in each page*/
    /* make it white to match the animation background in the home page */
    background-color: white;
    height: 100vh;
}
.top-spacer{
/* this column creates space between the top and the content in the Gallery,
2D, 3D and D3 pages */
    display: inline-block;
    width: 100%;
    height: 16%;
}
.side-spacer{
/* this column creates space btw the header/nav menu and the content in 
the Gallery, 2D, 3D and D3 pages*/
    /* display: inline-block; */
    width: 20%;
    height: 100%;
    float: left;
}
.col-1-of-1{
    height:40vh;
    padding-top: 1em;
}
.col-1-of-2{
    float: left;
    height:100%;
    width:30%;
    margin-left: 4em;
}
/*-----------------------------------------HOME PAGE------------------------------------------------------------------------------------------------------ */
#animation_container{
/* animation div in the home page */
    position:absolute;
    left:0;right:0;
    top:0;bottom:0;
}
/*-----------------------------------------ABOUT PAGE------------------------------------------------------------------------------------------------------ */
.about-info{
/* div containing 'about' information */
    position: relative;
    top: 30%;
    text-align: center;
}
.about-info p{
    font-size: larger;
    font-family: monospace;
    padding-bottom: 2em;
}
/*-----------------------------------------GALLERY PAGE------------------------------------------------------------------------------------------------------ */
.gallery-button{
/* the divs in the gallery page that act as buttons */
    display: inline-block;
    position: relative;
    top: 185px;
    width: 400px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: black;
    color: white;  
    transition-duration: 0.4s;
    cursor: pointer;  
}
.gallery-button:hover{
    background-color: #008CBA;
    color: white;
}
.gallery-link-2D{
    background-image: url(data/images/2D.png);
    background-repeat: no-repeat;
}
.gallery-link-3D{
    background-image: url(data/images/3D.png);
    background-repeat: no-repeat;
}
.gallery-link-D3{
    background-image: url(data/images/image_placeholder.png);
    background-repeat: no-repeat;
}
.gallery-link-tumblr{
    background-image: url(data/images/more.png);
    background-repeat: no-repeat;
}
/*------------------------------------------2D/3D PAGE------------------------------------------------------------------------------------------------------ */
.back-button{
/* the back button in the 2D and 3D pages */
    display: none;
    text-align: center;
}
.vimeo-link{
    margin: 0;
    padding: 0;
    width: 330px;
    height: 200px;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ----------------------------------------responsive/adaptive work------------------------------------------------------------------------------------------------------ */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width:700px){
/*----------------------------------nav/menu------------------------------------------- */
.header{
/* header/menu for larger screens disappears */
    display: none;
}
.mobile-menu{
/* nav/menu for smaller screens appears */
    display: inline-block;
}
/* ----------------------------------columns------------------------------------------- */
.col-1-of-1{
    padding-bottom: 200px;
}
.col-1-of-2{
    display: inline-block;
    float : none;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    height: 400px;
}
.col-1-of-2{
    float: none;
    margin-left: 0;   
    display: inline-block;
    width: 100%;
    height:50%;   
}
.top-spacer{
    display: none;
}
.side-spacer{
    display: none;
}
/*----------------------------------HOME PAGE------------------------------------------- */
#animation_container{
/* push animation to the left in small screens */
    position: relative;
    left: -400px;
    /* top:200px; */
}
/*----------------------------------ABOUT PAGE------------------------------------------- */
.center-div{
    left:5%;
}
#about-page img{
    padding-left: 3.5em;
}
/*----------------------------------GALLERY PAGE------------------------------------------- */
.gallery-button{
    width: 100%;
}
/*----------------------------------2D/3D PAGE------------------------------------------- */
.back-button{
    display: inline-block;
}
}