/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --grey: #85888C;
}
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* ----------------------- Header -----------------------------------------------------------------*/
.header{
    /* background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--grey); */
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
}
#transparent-header{
    background-color: transparent;
    box-shadow: none;
}
/* -----------------------------------------------navigation menu begins here------------------------------------------------------------------------------------------*/
/* Logo */
.logo{
    display: inline-block;
    height : 80px;
    color: var(--white);
    margin-left: 20px;
    
}
.logo h3{
    margin-top: 18px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    /* I removed the fixed position because it made it impossible to click the links
    when overlapping with page content  */
    /* position: fixed; */
    /* background-color: var(--black); */
    background-color: black;
    overflow: hidden;
}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--grey);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}
.inactive-link{
    text-decoration: underline;
}
/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}
.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;   
}
.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
.side-menu {
    display: none;
}
/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
/* navigation menu ends here------------------------------------------------------------------------------------------*/

/* ------------------------------------------- Footer ----------------------------------------------------------------- */
.footer{
    background-color: black;
    width: 100%;
    padding-left : 20px;
    padding-top: 1em;
    padding-bottom: 1em;
}
#transparent-footer{
    background-color: transparent;
    box-shadow: none;
}
.footer-email{
    width : 60%;    
}
.footer-email img{
    float : left;
    padding-right: 8px;
    padding-top: 2px;;
}
.footer-email p{
    color: whitesmoke;
    font-family: monospace;
}
.footer-media-links{
    width : 40%; 
    padding-bottom: 1em; 
}
.footer-vimeo-link{
    float: left;
    padding-right: 2em;
}
.footer-yt-link{
    padding-top: 0.15em;
}
.footer-studio{
    float : right;
    border: solid black;
}
.footer-studio img{
    float : left;
}
.footer-studio p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: white;
    padding-top: 0.6em;
    padding-left: 0.6em;
    float : right;
}
/* fix the footer in the about and contact pages to the bottom */
#footer-fixed1{
    position: fixed;
    bottom: 0;
}
#footer-fixed2{
    position: fixed;
    bottom: 0;
}
/* ---------------------------------------Landing Page-------------------------------------------------------------------------------------*/
/* black bg for the landing page*/
#landing-page, #contact-page{
    background-color: black;
}


/* Walt Disney's quote*/
/* #quote-container{
    display:inline-block;
    height: 77vh;
    border: solid cyan;
    text-align: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain
} 
#typed-out{
    overflow: hidden;
    border-right: .15em solid white;
    font-size: 4em;
    width:0;
    animation: typing 1s forwards;
}
@keyframes typing{
    from { width:0 }
    to { width: 100% }
}*/

/* animation columns */
.half-column{
    width: 100%;
    height: 500px;
    padding-bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;  
}
/* -----------------animations------------------------  */
#animations01{   
    background-image: url('data/gifs/tushop.gif'); 
}
#animations02{   
    background-image: url('data/gifs/robot01.gif');
}
#animations03{   
    background-image: url('data/gifs/dollar.gif'); 
}
#animations04{   
    background-image: url('data/gifs/eezyz_s.gif');
}
#animations05{   
    background-image: url('data/gifs/nope.gif');
}
#animations06{   
    background-image: url('data/gifs/robot02.gif');
}
#animations07{   
    background-image: url('data/gifs/flower.gif');
}
#animations08{   
    background-image: url('data/gifs/moko.gif');
}
#animations09{   
    background-image: url('data/gifs/flag.gif');
}
#animations10{   
    background-image: url('data/gifs/nyashinski.gif'); 
}
#animations11{   
    background-image: url('data/gifs/furniture.gif'); 
}
#animations12{   
    background-image: url('data/gifs/url.gif'); 
}


/*----------------------------------------------about page-----------------------------------------------------------------------*/
/*div wrapper for about info*/
#about-info{
    padding: 4em;
    width: 100%;
    color: white;
    margin: auto;
    padding-top: 10em; 
    padding-right: 0;
}
#about-info p{
    font-size: larger;
    font-family: monospace;
    line-height: 1.5em;
    padding-bottom: 2em;
    font-size: 160%;
}
#about-info span{
    font-size : 15px;
}
#about-info #about-info-email{
    font-size: 100%; 
}
/* div containing the bouncing ball animation in landing page */
#aboutCanvas{
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
}
/*-----------------------------------------------contact page----------------------------------------------------*/
#contact-wrapper{
    width: 100%;
    color: white;
}
#contact-info{
    width: 100%;
    padding-top: 2em;
}
#contact-info h1{
    font-size: 100%;
    text-align: center;
}
#contact-info p{
    text-align: center;
}
#form-container {
    width:100%;
    border-radius: 5px;
    padding: 20px;
    height:100%;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: black;
    color: white;
}   
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: #45a049;
}
#button-wrapper{
    text-align: center ;
}

/* ---------------------------------------------------------------------------------------------------------------------*/
/* Responsiveness */

@media (min-width: 768px) {
    /*nav menu for wider screens begins here---------*/
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--grey);        
    }   
    .hamb{
        display: none;
    }
    /*------------------------------------------------Landing Page ---------------------------*/
    .column-wrapper{
        display:flex;
        flex-wrap:wrap;
        padding-left: 5em;
        padding-top: 2em;
        width: 100%;
    }
    .half-column{
        width: 30%;
        height:500px;
    }
    .column-space{
        width:2%;
    }
    /*------------------------------------------------- About Page --------------------------------------------*/
    #about-info{
        margin: auto;
        width: 50%;
        padding-top: 10em; 
    }
    #about-info p{
        font-size: 160%;
    }
    #about-info span{
        font-size : 15px;
    }
    #about-info #about-info-email{
        font-size: 100%; 
        text-align: right;
    }
    /*------------------------------------------------- Contact Page ----------------------------------------*/
    #contact-page{
        background-color: black;
        border: solid black;
        padding-bottom: 4em;
    }
    #contact-wrapper{
        display:flex;
        flex-wrap:wrap;
        margin-top: 100px;
        padding-left: 16%;
        padding-top: 1em;
        margin-bottom: 100px;
    }
    #contact-info{
    width: 33%;
    padding-left: 1em;
    }    
    #form-container {
    width:44%;
    border-radius: 5px;
    }
}
