/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --grey: #85888C;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Header */
.header{
    /* background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--grey); */
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
}
#transparent-header{
    background-color: transparent;
    box-shadow: none;
}
/* column-styling begins here used in the animations and graphics pages-------------------------------------------------------------------------------------*/
.page-container{
    position: relative;
    min-height: 100vh;
}
.col-full-width{
    width: 100%;
    height: 400px;
    padding-bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;  
    
    /* background-position: -10px -10px; */
}
main{
    /* helps control the footer */
    padding-bottom: 2.5rem;
}
/* -----------------animations--------------------------------------  */
#homeCanvas{
    /* div containing the starfield animation in landing page */
    position: absolute;
    width: 100%;
    /* height: 110vh; */
    z-index: -1;
    top: 0;
}
#aboutCanvas{
    /* div containing the bouncing ball animation in landing page */
    position: absolute;
    width: 100%;
    /* height: 110vh; */
    z-index: -1;
    top: 0;
}
#animations01{   
    background-image: url('data/gifs/url.gif'); 
    background-size: 130%;
}
#animations02{   
    background-image: url('data/gifs/crack.gif'); 
    background-size: 130%;
}
#animations03{   
    background-image: url('data/gifs/dollar.gif'); 
}
#animations04{   
    background-image: url('data/gifs/terrain.gif');
    background-size: 110%; 
    background-position: -20px;
}
#animations05{   
    background-image: url('data/gifs/flower.gif'); 
    background-size: 104%; 
    /* background-position: -20px; */
}
#animations06{   
    background-image: url('data/gifs/2020.gif');
    background-size: 110%;  
}
#animations07{   
    background-image: url('data/gifs/nyashinski.gif');
    background-size: 110%;  
}
#animations08{   
    background-image: url('data/gifs/leo.gif');
    background-size: 110%;  
}
#animations09{   
    background-image: url('data/gifs/flag.gif');
}
#animations10{   
    background-image: url('data/gifs/crack_square.gif'); 
}
/* ---------graphics/stills ---------------*/
#graphics01{
    background-image: url('data/graphics/bakery.png') ;
    background-size: 110%; 
}
#graphics02{
    background-image: url('data/graphics/tommy.png') ;
    background-size: 110%; 
}
#graphics03{
    background-image: url('data/graphics/donut.png') ;
    
}
/* #graphics04{
    background-image: url('data/graphics/donut.png') ;
    background-size: 110%; 
}
#graphics05{
    background-image: url('data/graphics/house.png') ;
}
#graphics06{
    background-image: url('data/graphics/house.png') ;
} */
/* Footer */
/* ------------------------------------------------------------footer------------------------------------------------------------------------------------------------------ */
.footer{
    position: absolute;
    bottom: 0;
    /* background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--grey); */
    background-color: black;
    width: 100%;
    padding-left : 20px;
    padding-top: 1em;
    padding-bottom: 1em;
}
#transparent-footer{
    background-color: transparent;
    box-shadow: none;
}
.footer-email{
    width : 60%;
    
}
.footer-email img{
    float : left;
    padding-right: 8px;
    padding-top: 2px;;
}
.footer-email p{
    color: whitesmoke;
    font-family: monospace;
}
.footer-media-links{
    width : 40%; 
    padding-bottom: 1em; 
}
.footer-vimeo-link{
    float: left;
    padding-right: 2em;
}
.footer-yt-link{
    padding-top: 0.15em;
}
.footer-studio{
    float : right;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.footer-studio img{
    float : left;
}
.footer-studio p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: white;
    padding-top: 0.6em;
    padding-left: 0.6em;
    float : right;
}

/* about page begins here------------------------------------------------------------------------------------------*/
#about-info{
    /* div containing 'about' information */
    position: absolute;
    display: inline-block;
    margin-top: 120px;
    width: 100%;
    text-align: center;
    color: white;
    }
#about-info p{
    font-size: larger;
    font-family: monospace;
    padding-bottom: 2em;
}
#about-info span{
    font-size : 15px;
}


/* navigation menu begins here------------------------------------------------------------------------------------------*/
/* Logo */
.logo{
    display: inline-block;
    height : 80px;
    color: var(--white);
    margin-left: 20px;
    
}
.logo h3{
    margin-top: 18px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    /* I removed the fixed position because it made it impossible to click the links
    when overlapping with page content  */
    /* position: fixed; */
    /* background-color: var(--black); */
    background-color: black;
    overflow: hidden;
}

.menu a{
    display: block;
    padding: 30px;
    color: var(--white);

}

.menu a:hover{
    background-color: var(--grey);
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

.inactive-link{
    text-decoration: underline;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}


.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}


.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
/* navigation menu ends here------------------------------------------------------------------------------------------*/


/* ---------------------------------------------------------------------------------------------------------------------*/
/* Responsiveness */

@media (min-width: 768px) {
    /*nav menu for wider screens begins here---------*/
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;

    }

    .menu li{
        float: left;
    }

    .menu a:hover{
        background-color: transparent;
        color: var(--grey);
        
    }
    
    .hamb{
        display: none;
    }
    /*nav menu for wider screens ends here---------*/
    
    /*footer*/
    .footer-email {
        width : 40%
    }
}
